/* sempre linkar o global com o index atravez do @import */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ao iniciar o Root, colocar toda as informaces gerais do projto que vai ser aplicado em tudo, ate para poder puxar as informacoes mais facilmente */
:root {
--brand-color-light: #60A5FA;
--brand-color-dark: #1D4ED8;
--bg-color: #0F172A;
--stroke-color: #1E293B; 
--text-color-primary: #F1F5F9;
--text-color-secondary: #CBD5E1;
/* configurado a fonte que foi pega do google fonts e colocada no Head do HTML */
--font-family: 'Archivo', sans-serif; 
/* a configuracao do H1 segue essa ideia: 800 e equivalente ao ExtraBold / 24px de Size e 135% de line height. Ai colocamos a var(--font-family); para puxar a fonte para o h1*/
--h1: 800 24px/135% var(--font-family);
--h2: 800 16px/140% var(--font-family);
--h3: 800 14px/140% var(--font-family);
--text-span: 600 14px/145% var(--font-family);
--text: 400 16px/140% var(--font-family);
--text-sm: 400 14px/160% var(--font-family);
}
/* usando o VAR, eu trago a informacao do root para o body que aplica em tudo */
body {
font: var(--text);
color: var(--text-color-primary);
background-color: var(--bg-color);
}

a {
  text-decoration: none;
  /* inherit significa que o A esta herdando a cor do elemento pai, ou seja, ele segue o que o Body diz porque ele esta dentro do Body*/
  color: inherit;
}
/* como o hover e o que deixa o link com a cor diferente, quando queremos que o vetor (arquivo svg) tambem tenha uma cor diferente, precisamos baixar dois vetores iguais, mas com cores diferentes. Observar os vetores ArrowRight em caso de duvidas */
a:hover{
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

main {
  margin-block: 40px;
  /* como foi colocado o grid template areas e depois configurado tudo nos sections conforme as obs abaixo, agora da para colocar o row gap de 80px por linha e o column gap de 32px por coluna */
  row-gap: 80px;
  column-gap: 32px;
/*  grid template columns serve para Split the available space into proportional parts. primera coluna 2fr e segunda coluna 1.5fr.  Mas isso so arruma as colunas, ou seja, lateralmente a proporcao do espaco que ocupa (dividem) na row. Mas as colunas ainda estao desproporcionais. A coluna 1 esta mais curta que a 2 ate o momento desse coment. */
  grid-template-columns: 2fr 1.5fr;

/* utilizando o grid template areas, colocamos as colunas conforme repetimos o nome das sections. Ou seja, 2x featurd equivale a duas colunas. E ai, vamos la no utility para configurar cada um deles la em sections.css: featured, weekly, ai e aside */
  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside" ;
  /* pelo que entendi, o grid template areas e a forma que a gente enxerga a pagina. Entao na primeira fileira e so o featured nas duas colunas. O weekly segue a mesma ideia. E o AI fica na primeira coluna e o Aside fica na segunda coluna lado a lado um com o outro. Quando vamos em sections e colocamos o grid-area seguido do nome, eles se posicionam na pagina. */
}
/* criamos o content-tag porque o codigo precisa ser aplicado independente se e uma div ou uma span, eu quero os dois comportamentos DISPLAY INLINE BLOCK */
.content-tag {
/* display inline block, faz com que a box azul em volta do ROBOTICA fique em torno da palavra de forma proporcional, Se fosse um display block, elecobriria o card todo horizontalmente (direita e esquerda) mas se manteria a altura e a base de acordo com a palavra. - o Display inline block ajuda, porque mesmo que o padding seja colocado, ele nao vai crescer de acordo e nao vai calcular correto sem o siplay. Por isso tem que ter. */
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
/* fonte de peso 500, 10-x, altura de linha de 1.2 */
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
/* O BOX SHADOW adiciona uma sombra na caixa. 
box-shadow 10px - o primeiro significa que o efeito de sombra da caixa vai ser aplicado 10px para a direita, o segundo significa que o efeito de sombra vai ser aplicado 10px para baixo, o terceiro significa o blur da sombra e o quarto a cor da sombra */
box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}