#primary {
  /* padding block significa que estou pegando o eixo vertical (em cima e em baixo) para aplicar o espacamento de 20px */
  padding-block: 20px;

  /* o foco aqui e o grid, mas o flex resolve melhor que o grid nesse momento */
  div{
    display: flex;
    align-self: center;
    gap: 8px;
  }
/* quando eu fiz uma altecao nas imagens do main, por algum motivo, mudou o tamanho do ICON do header. por isso eu tentei arrumar sozinho indo no primary e selecionando a nth-child(1) e coloando 24px de width. mas o AI assistant disse que o melhor caminho seria dar uma classe para o ICON e mudar ele isoladamente. Foi o que eu fiz, mas so deixando registrado em comentarios a minha tentativa que deu certo! > eu fiz o que o AIA faltou, mas o size do icone eta desparelho do size da palavra MENU.> assim, quebrei a cabeca, mas nao consegui resolver.. tive que ajustar  com width 17px e height auto....*/

.menu-icon {
  width: 17px;
  height: auto;
}

  /* .div:nth-child(1) { */
    /* width: 24px;} */

  div:nth-child(2) {
    /* margin-inline significa que estou pegando o eixo horizontal (esquerda e direita) para centralizar o elemento */
    margin-inline: auto;
  }

  div:nth-child(3) {
    /* aqui, jogamos o filho 3 que e o buscar e a lupa toda para a direita. */
    justify-self: end;
  }
}

#secondary {
padding-block: 14px;
border: solid 1px var(--stroke-color);
border-inline: none;
justify-content: space-between;
}