/* coloco o header dentro do section porque todo o header que estiver dentro do section tem que seguir o que eu colocar aqui */
section {
  header{
    /* dessa forma cria-se a linha que vai dividir as sections */
    border-top: 1px solid var(--stroke-color);
    /* o padding-block ja coloca espaco entre os elementos */
    padding-block: 12px 24px;
    font: var(--text-span);
  }
}

#featured{
  /* aqui, estou estilizando as imagens, colocando a altura certa pra nao ficar espaco sobrando porque tem algumas imagens que sao maiores e outras menores. Mas so colocar altura, estica a imagem, entao o object-fit: cover faz com que ela nao fique esticada e se enquadre no espaco bem certinho. e o Border Radius e pra dar aquela arredondada nas pontas.*/
  img {
    height: 100%;
    object-fit: cover;
  }
  /* coloquei a class CARD na div da primeira imagem par colocar o fundo degrade. */
  .card {
  overflow: hidden;
  /* o overflow hidden esconde o que estiver fora do elemento, e como a imagem tem um border-radius, o overflow hidden faz com que a imagem fique dentro do círculo arredondado nos cantos. */
  border-radius: 4px;
  /* o card tem a position: relative porque se nao tiver, o elemento filho (o ::before) não será posicionado corretamente em relação ao card, mas sim em relacao a pagina toda. E como queremos o degrade posicionado na imagem e nao na pagina toda, ele precisa ter o position relative. */
  position: relative;
  /* &: :before - significa: &: esta substituindo o .CARD pra nao ficar repetitivo e dar ruim no codigo. Ja o :before esta criando o elemento em cima do Card. Dessa forma da para colocar o degrade e posicionar bem certinho dentro da imagem. */
    &::before {
  /* para criar um elemento CSS com HTML precisamos de um content e definir o BG. - depois disso e definido o position absolute para poder colocar o inset. Porque desa forma ele fica absoluto, so que na pagina, e ai na class .card, posicionamos o elemento de acordo com a img e nao de acordo com a pagina toda. */
      content: "";
      position: absolute;
      inset: 0;
  /* top: 50% serve para centralizar o degrade verticalmente dentro do card, no caso, comecar da metade pra baixo, que e o que queremos. */
      top: 50%;
  /* background: linear-gradient() - significa que estamos colocando o degrade no elemento BG selecionado. Primeiro, colocamos a algulacao do degrade: 180Ddeg - segundo, colocamos o transparent 0% porque queremos que ele saia da cor 0% que e o transparente. - terceiro, colocamos a cor que ele precisa chegar que nesse caso e #020617 100%*/
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
    }
  /* como o figcaption esta dentro do card, posicionamos ele abaixo do before. Mas como o before esta absolute, ele nao vai deixar o figcaption visivel, por isso precisamos de um z-index para ele ficar acima do before. Ele so vai apareecr por cima do Before, quando colocar a osition e o lugar que vai aparecer que nesse caso e o bottom*/
    figcaption {
      position: absolute;
      bottom: 0%;
      /* adicionamos o padding pra ficar mais espacado */
      padding: 24px;

      /* &:has significa que queremos saber se o figcaption tem um elemento com a classe text-lg dentro dele, e se tiver, aplicar o codigo especificamente no elemento, nesse caso, se no figcaption (&:) tem (has) um texto que e large (.text-lg), quero um padding top de 8px*/
      &:has(.text-lg){
      padding-top: 12px;
      }

      /* adicionamos o margin top no H2 para dar uma distanciada do span ROBOTICA */
      h2{
        margin-top: 8px;
      }
    }
  }

}

#weekly{
/* o header a, e porque estou arrumando o VER TUDO que e o A que esta dentro do Header. Justify-self: end joga ele pro fim da pagina no lado direito, que e o que eu quero */
header a{
  justify-self: end;
/* esse span dentro do weekly, e o icone da seta para a direita que vai do lado direito do VER TUDO */
  span {
    background-image: url(../assets/icons/ArrowRight-white.svg);
    width: 16px;
    height: 16px;
  }

  &:hover span {
    background-image: url(../assets/icons/ArrowRight-hover.svg);
  }

}

/* no HTML depois do header, o primeiro nivel de DIV tem o grid aplicado na class. Para selecionar o primeiro nivel de DIV, colocamos &>div{} */
&>div {
  /* usando o grid-template-columns: repeat, como sao 4 imagens, eu quero que o espaco delas seja de 4 colunas com 292px de largura para que elas fiquem adaptadas certinho uma do lado da outra */
  grid-template-columns: repeat(4, 292px);
}

img {
  height: 160px;
}
}

#weekly header a{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
  justify-self: end;
}

#weekly header a span{
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/ArrowRight-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* essa configuracao esta sendo feita, para deixar a box azul com o mini titulo (veiculos/hologramas, etc) dentro da imagem  com o content tag e afastado das beiradas da imagem com o top e left 8px. */
#weekly figure {
  position: relative;
  .content-tag {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  p{
    margin-top: 8px;
    font-weight: 800;
  }
}