/* o grid ja deixa os itens em linhas, um em baixo do outro. Ai e so colocar grid na classe o elemento que voce quer organizar.*/
.grid {
  display: grid;
}
/* o grid-flow-col define que os itens do grid sejam dispostos em colunas, ou seja, lado a lado. Ai e so colocar grid-flow-col na classe o elemento que voce quer organizar. */
.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}
/* quando colocamos o .text-2xl , significa que estamos aplicando uma estilização de texto com tamanho extra extra large */
.text-2xl {
font: var(--h1);
}
/* tamanho extra large */
.text-xl {
font: var(--h2);
}
/* tamanho large */
.text-lg{
font: var(--h3);
}
/* tamanho small */
.text-sm{
font: var(--text-sm);
}